<h1 align="center">Welcome to <%= @user.username%>'s page</h1>
<div class="row">
  <div align="center" >

    <%= gravatar_tag @user.email, :size => 220 %>
  </div>
</div>
<h2 align="center"><%= @user.username%>'s articles</h2>
<%= render 'articles/article', ob: @user.articles %>


